.container {
  display: flex;
  background-color: blanchedalmond;
  height: 350px;
  gap: 16px;
  justify-content: space-between;
  align-items: end;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.item {
  height: 100px;
  width: 100px;
  background-color: aquamarine;
  text-align: center;
}

.one {
  flex: 1;
}

.self {
  align-self: center;
  flex: 1;
}
